
<ul class="nav nav-pills-dark bg-dark">
    <li class="nav-item">
        <a class="nav-link" href="/trip">Trips</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
    </li>
    {{!-- {{#if currentUser}}
        <li>
             <a class="nav-link" href="#">Welcome {{currentUser.username}}</a>
        </li>
    {{/if}} --}}
</ul>
