<form action="/login" method="POST" id="form">
  <div class='form-group'>
    <label for='username'>Username:</label>
    <input type='text' class='form-control' id='username' aria-describedby='username' name='username'>
  </div>
  <div class='form-group'>
    <label for='exampleInputPassword1'>Password</label>
    <input type='password' class='form-control' id='password' name="password">
  </div>
  {{!-- user error handling --}}
  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  

  <button type='submit' class='btn btn-primary'>Login</button>
  <p> Click here to create an account <a href="/signup">SignUp</a></p>
</form>