<div class="login-page-container">
  <div class="login-page-content">
    <h3>Login</h3>
    <form id="form" action="/login" method="POST">
      <div class='form-group'>
        <input type='text' class='form-control' id='username' aria-describedby='username' name='username'
          placeholder="Username">
      </div>
      <div class='form-group'>
        <input type='password' class='form-control' id='password' name="password" placeholder="Password">
      </div>
      {{!-- user error handling --}}
      {{#if errorMessage }}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
      <div class="login-page-action">
        <button type='submit' class='btn btn-primary'>Login</button>
        <p> Don't have an account? <a href="/signup">Sign Up!</a></p>
      </div>
    </form>
  </div>
</div>
