<div class="homepage-container">
    <div class="homepage-text">
        <h1>Trips & Tips</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut magnam laudantium fugit veniam in porro enim reiciendis id, quibusdam mollitia dignissimos possimus quas soluta cum laboriosam nemo? Ab, possimus quos!</p>
        <button class="homepage-button">Sign up to learn more</button>
    </div>

</div>