<div class="homepage-container">
    <div class="homepage-text">
        <h1>Trips & Tips</h1>
        <h4>Document your memorable travels around the globe and never forget about them again!</h4>
        <a href="/signup" class="homepage-button btn btn-primary">Sign up to learn more</a>
    </div>
</div>