{{!-- {{#each userHbs}} --}}
    <h1>Hello </h1>
    <p>This is a web app dedicated to helping you record all of the highlights and memories from your trips around the globe.</p>
    <p>You can also use this as inspiration for planning any upcoming trips.</p>

    <a href="/countries"><button>Check out our countries page!</button></a>
{{!-- {{/each}} --}}